.cart-product-image{
    width: 300px;
}
.cart-list-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cart-list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    list-style: none;
    width: fit-content;
    
}
.cart-item{
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 4px 3px 3px gray;
    padding: 1.5rem;
    text-align: start;
    display: flex;
    column-gap: 2rem;
    justify-content: baseline;
}
.cart-product-image{
    display: flex;
    justify-content: center;
}
.quantity{
    text-decoration: none;
    font-size: 1.1rem;
    color: grey;

}
.quantity-button{
    background-color: transparent;
    border: none;
}
.cart-product-details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}
.cartBuy{
    width: 7rem;
    padding: 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: blueviolet;
    
}
.cartBuy > a{
    text-decoration: none;
    color: white;
    align-self: center;
}
.buy-btn-box{
    display: flex;
    justify-content: center;
}